Node-Red/hackthe6ix_node-red.txt
[
    {
        "id": "18fe4a96.c9d8ad",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1c2b84.6ebd5c7d",
        "type": "inject",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "topic": "",
        "payload": "H",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 360,
        "wires": [
            [
                "dd2d22af.93c4e8",
                "636db166.adad3"
            ]
        ]
    },
    {
        "id": "a683f09f.d9309",
        "type": "inject",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "topic": "",
        "payload": "L",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "dd2d22af.93c4e8"
            ]
        ]
    },
    {
        "id": "dd2d22af.93c4e8",
        "type": "serial out",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "serial": "15d9a85d.1724",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "225bde2b.9b7402",
        "type": "mqtt in",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "topic": "person",
        "qos": "0",
        "broker": "69d125be.02c0dc",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "ef700e65.999398",
                "636db166.adad3",
                "52b67b3a.ee142c"
            ]
        ]
    },
    {
        "id": "c3a48777.05f898",
        "type": "debug",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "7e231571.ef5d5c",
        "type": "mqtt out",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "topic": "sms",
        "qos": "",
        "retain": "",
        "broker": "69d125be.02c0dc",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "e6560151.c000c",
        "type": "function",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "func": "msg.payload = \"Emergency Alert! There is a vechicle dangerously driving on the sidewalk, please take cover inside the nearest building!\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "7e231571.ef5d5c",
                "c3a48777.05f898"
            ]
        ]
    },
    {
        "id": "ef700e65.999398",
        "type": "function",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "func": "var input = msg.payload;\nif(input==\"true\"){\n    msg.payload = \"H\";\n}\nif (input==\"false\"){\n    msg.payload = \"L\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "d050737b.c7d518"
            ]
        ]
    },
    {
        "id": "636db166.adad3",
        "type": "trigger",
        "z": "18fe4a96.c9d8ad",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "0",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 440,
        "y": 140,
        "wires": [
            [
                "e6560151.c000c"
            ]
        ]
    },
    {
        "id": "d050737b.c7d518",
        "type": "trigger",
        "z": "18fe4a96.c9d8ad",
        "op1": "H",
        "op2": "L",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "dd2d22af.93c4e8"
            ]
        ]
    },
    {
        "id": "a446d112.cdfb98",
        "type": "inject",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "e6560151.c000c"
            ]
        ]
    },
    {
        "id": "d964a64f.407bb",
        "type": "function",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "func": "msg.reset=0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "636db166.adad3"
            ]
        ]
    },
    {
        "id": "8e3baed9.09a1d8",
        "type": "inject",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "b6a91054.e5abf"
            ]
        ]
    },
    {
        "id": "b6a91054.e5abf",
        "type": "ui_button",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "group": "d804b546.86287",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset System",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "d964a64f.407bb",
                "52b67b3a.ee142c"
            ]
        ]
    },
    {
        "id": "4ff98b96.3a5864",
        "type": "ui_gauge",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "group": "d804b546.86287",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ON/OFF",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "2ba0922a.e0c58e",
        "type": "ui_button",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "group": "ac555d10.1d114",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset System",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "aa5e5a81.e4a31",
        "type": "ui_gauge",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "group": "ac555d10.1d114",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ON/OFF",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "52b67b3a.ee142c",
        "type": "function",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "func": "var input = msg.payload;\nif (input == \"true\"){\n    msg.payload =1;\n}\nelse if (input == \"false\"){\n    msg.payload=0;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "4ff98b96.3a5864"
            ]
        ]
    },
    {
        "id": "e91b43ad.3df96",
        "type": "ui_text_input",
        "z": "18fe4a96.c9d8ad",
        "name": "",
        "label": "",
        "group": "8ddf5416.38c7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "7e231571.ef5d5c"
            ]
        ]
    },
    {
        "id": "15d9a85d.1724",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "69d125be.02c0dc",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "104.238.164.118",
        "port": "8883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d804b546.86287",
        "type": "ui_group",
        "z": "",
        "name": "Alarm 1",
        "tab": "1b3e3572.7c09ab",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ac555d10.1d114",
        "type": "ui_group",
        "z": "",
        "name": "Alarm 2",
        "tab": "1b3e3572.7c09ab",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8ddf5416.38c7d",
        "type": "ui_group",
        "z": "",
        "name": "Send Message",
        "tab": "1b3e3572.7c09ab",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1b3e3572.7c09ab",
        "type": "ui_tab",
        "z": "",
        "name": "Smart Surveillance System",
        "icon": "dashboard"
    }
]